123Job.json
{
  "name": "123Job",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1i077qGPoAgK1XLcbCLziqppsyFjwllMOpevn06Y1tXM",
          "mode": "list",
          "cachedResultName": "123Job",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i077qGPoAgK1XLcbCLziqppsyFjwllMOpevn06Y1tXM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2020572363,
          "mode": "list",
          "cachedResultName": "list link tuyển dụng ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i077qGPoAgK1XLcbCLziqppsyFjwllMOpevn06Y1tXM/edit#gid=2020572363"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5696,
        3936
      ],
      "id": "d052902d-b298-4bdc-b634-76180dacd9fe",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KWvXTlQdV9eqObfN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        5152,
        3920
      ],
      "id": "7f0c9005-c0e1-45f1-90ed-d32b35efc559",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1i077qGPoAgK1XLcbCLziqppsyFjwllMOpevn06Y1tXM",
          "mode": "list",
          "cachedResultName": "123Job",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i077qGPoAgK1XLcbCLziqppsyFjwllMOpevn06Y1tXM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1293046103,
          "mode": "list",
          "cachedResultName": "danh sách công việc đã crawl",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i077qGPoAgK1XLcbCLziqppsyFjwllMOpevn06Y1tXM/edit#gid=1293046103"
        },
        "keepFirstRow": true
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4624,
        3152
      ],
      "id": "9b4ede01-472e-47ee-a6fd-b8d57dc606e4",
      "name": "Xóa danh sách công việc đã crawl",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KWvXTlQdV9eqObfN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1i077qGPoAgK1XLcbCLziqppsyFjwllMOpevn06Y1tXM",
          "mode": "list",
          "cachedResultName": "123Job",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i077qGPoAgK1XLcbCLziqppsyFjwllMOpevn06Y1tXM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "list url cần crawl",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i077qGPoAgK1XLcbCLziqppsyFjwllMOpevn06Y1tXM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4624,
        3504
      ],
      "id": "f1969ff9-75be-4c85-990a-4eaf225d5e4c",
      "name": "Lấy đữ liệu sheet list url cần crawl",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KWvXTlQdV9eqObfN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "runCustomScript",
        "scriptCode": "// --- Helper ---\nconst sleep = (ms) => new Promise((res) => setTimeout(res, ms));\n\n// --- LẤY LINK ĐẦU VÀO ---\nlet baseUrl = $json.Url?.trim();\nif (!baseUrl) throw new Error(\"❌ Thiếu 'Url' trong input!\");\n\nlet major = $json.Major || $json.major || \"\";\n\n// 🟩 GIỚI HẠN ĐỂ TRÁNH CRAWL QUÁ NHIỀU\nconst MAX_PAGES = parseInt($json.MaxPages || $json.maxPages || \"5\"); // Mặc định 5 trang\nconst MAX_JOBS = parseInt($json.MaxJobs || $json.maxJobs || \"10\"); // Mặc định 10 job\n\nlet allJobs = [];\nlet currentPage = 1;\n\n// 🟩 Tối ưu: Chặn request không cần thiết để tăng tốc\nawait $page.setRequestInterception(true);\n$page.on(\"request\", (req) => {\n  const t = req.resourceType();\n  const u = req.url();\n  if (\n    [\"image\", \"font\", \"media\"].includes(t) ||\n    /doubleclick|googletagmanager|analytics|facebook|adsystem|adservice|hotjar|mixpanel/i.test(u)\n  ) return req.abort();\n  req.continue();\n});\n\nwhile (true) {\n  // --- TẠO LINK PHÂN TRANG ---\n  let Url = baseUrl;\n  if (currentPage > 1) {\n    Url = baseUrl.includes(\"?\")\n      ? `${baseUrl}&page=${currentPage}`\n      : `${baseUrl}?page=${currentPage}`;\n  }\n\n  console.log(`🟦 Đang xử lý trang ${currentPage}: ${Url}`);\n\n  // --- ĐI ĐẾN TRANG ---\n  await $page.goto(Url, { waitUntil: \"domcontentloaded\", timeout: 30000 });\n\n  // --- ĐỢI JOB HIỆN RA (123job.vn selectors) ---\n  try {\n    await $page.waitForSelector(\".job_list-item, .job-item, .job-list-item, .job-card, [class*='job'], a[href*='/job/'], a[href*='/viec-lam']\", { timeout: 15000 });\n  } catch {\n    console.log(`⚠️ Không thấy job ở trang ${currentPage}, dừng lại.`);\n    break;\n  }\n\n  // --- CUỘN ĐỂ LOAD HẾT JOB (TỐI ƯU) ---\n  let lastCount = 0;\n  let noChangeCount = 0;\n  for (let i = 0; i < 10; i++) {\n    await $page.evaluate(() => window.scrollBy(0, document.body.scrollHeight));\n    await sleep(500);\n    const currentCount = await $page.$$eval(\n      \".job_list-item, .job-item, .job-list-item, .job-card, [class*='job'], a[href*='/job/'], a[href*='/viec-lam']\",\n      (els) => els.length\n    );\n    if (currentCount === lastCount) {\n      noChangeCount++;\n      if (noChangeCount >= 2) break;\n    } else {\n      noChangeCount = 0;\n    }\n    lastCount = currentCount;\n  }\n\n  // --- LẤY DỮ LIỆU (123job.vn) ---\n  const jobsOnPage = await $page.evaluate(() => {\n    // Thử nhiều selector phổ biến cho 123job.vn\n    const selectors = [\n      \".job-item a[href*='/job/'], .job-item a[href*='/viec-lam']\",\n      \".job-list-item a[href*='/job/'], .job-list-item a[href*='/viec-lam']\",\n      \".job-card a[href*='/job/'], .job-card a[href*='/viec-lam']\",\n      \"a[href*='/job/']:not([href*='#'])\",\n      \"a[href*='/viec-lam']:not([href*='#'])\",\n      \"h2 a[href*='/job/'], h3 a[href*='/job/']\",\n      \".title a[href*='/job/'], .job-title a[href*='/job/']\"\n    ];\n    \n    let jobItems = [];\n    for (const sel of selectors) {\n      const items = document.querySelectorAll(sel);\n      if (items.length > 0) {\n        jobItems = Array.from(items);\n        break;\n      }\n    }\n    \n    // Nếu không tìm thấy, thử tìm tất cả link có chứa /job/ hoặc /viec-lam/\n    if (jobItems.length === 0) {\n      const allLinks = document.querySelectorAll(\"a[href]\");\n      jobItems = Array.from(allLinks).filter(link => {\n        const href = link.href || \"\";\n        return (href.includes(\"/job/\") || href.includes(\"/viec-lam/\")) && !href.includes(\"#\");\n      });\n    }\n    \n    // Loại bỏ duplicate và lấy thông tin (kèm lương) - Dựa trên HTML structure thực tế\n    const uniqueJobs = new Map();\n    jobItems.forEach((item) => {\n      const link = item.href || item.getAttribute(\"href\") || \"\";\n      if (!link || link.includes(\"#\")) return;\n      \n      let fullUrl = link;\n      if (link.startsWith(\"/\")) {\n        fullUrl = \"https://123job.vn\" + link;\n      }\n      \n      const title = item.textContent?.trim() || item.querySelector(\"h2, h3, .title, .job-title, .job_list-item-title\")?.textContent?.trim() || \"\";\n      \n      // Tìm job item cha để lấy lương (ưu tiên .job_list-item)\n      let salary = null;\n      let jobCard = item.closest(\".job_list-item, .job-item, .job-list-item, .job-card, [class*='job-item'], [class*='job-card'], [class*='job_list']\");\n      if (jobCard) {\n        // Tìm lương trong .job_list-item-info .salary (theo HTML structure thực tế)\n        const jobInfo = jobCard.querySelector(\".job_list-item-info, .job-item-info, [class*='info']\");\n        if (jobInfo) {\n          const salaryEl = jobInfo.querySelector(\".salary[title='Mức lương việc làm'], .salary, .job-salary, [class*='salary'], .wage, [class*='wage'], [class*='luong'], [class*='muc-luong'], .info-salary\");\n          if (salaryEl) {\n            salary = salaryEl.textContent?.trim() || null;\n          }\n        }\n        // Fallback: tìm trực tiếp trong job card\n        if (!salary) {\n          const salaryEl = jobCard.querySelector(\".salary[title='Mức lương việc làm'], .salary, .job-salary, [class*='salary'], .wage, [class*='wage'], [class*='luong'], [class*='muc-luong'], .info-salary\");\n          if (salaryEl) {\n            salary = salaryEl.textContent?.trim() || null;\n          }\n        }\n        // Nếu không tìm thấy, tìm text chứa $ hoặc lương\n        if (!salary) {\n          const text = jobCard.textContent || \"\";\n          const salaryMatch = text.match(/(\\$[^\\n]*|đang cập nhật|không xác định|thỏa thuận|flex)/i);\n          if (salaryMatch) {\n            salary = salaryMatch[0];\n          }\n        }\n      }\n      \n      if (fullUrl && !uniqueJobs.has(fullUrl)) {\n        uniqueJobs.set(fullUrl, { Url: fullUrl, title: title || \"Không có tiêu đề\", salary: salary || \"\" });\n      }\n    });\n    \n    // Lọc bỏ các job có lương \"đang cập nhật\", \"không xác định\", \"flex\", \"thỏa thuận\"\n    const filteredJobs = Array.from(uniqueJobs.values()).filter(job => {\n      if (!job.salary || job.salary.trim() === \"\") {\n        // Nếu không có lương, giữ lại để check ở loop 2\n        return true;\n      }\n      \n      const salaryLower = job.salary.toLowerCase().trim();\n      \n      // Bỏ qua nếu chỉ là số 0, rỗng, hoặc chỉ có ký hiệu $\n      if (salaryLower === \"0\" || salaryLower === \"\" || salaryLower === \"$\" || salaryLower === \"$ \" || salaryLower === \"$\") {\n        return false;\n      }\n      \n      // Danh sách từ khóa cần bỏ qua (bao gồm các biến thể)\n      const skipKeywords = [\n        \"đang cập nhật\", \n        \"cập nhật\", \n        \"đang cập nhật\", \n        \"đang cập nhật\", \n        \"không xác định\", \n        \"thỏa thuận\", \n        \"flex\", \n        \"flexible\",\n        \"updating\",\n        \"not specified\",\n        \"negotiable\"\n      ];\n      \n      // Kiểm tra nếu lương chứa bất kỳ từ khóa nào\n      const shouldSkip = skipKeywords.some(keyword => salaryLower.includes(keyword));\n      \n      if (shouldSkip) {\n        console.log(`⚠️ Bỏ qua job có lương: ${job.salary}`);\n        return false;\n      }\n      \n      // Chỉ giữ lại job có lương hợp lệ (có số tiền cụ thể)\n      return true;\n    });\n    \n    return filteredJobs;\n  });\n\n  console.log(`✅ Trang ${currentPage} có ${jobsOnPage.length} job`);\n  if (jobsOnPage.length === 0) break;\n\n  // --- GẮN SOURCE + MAJOR ---\n  const mappedJobs = jobsOnPage.map((j) => ({\n    Source: baseUrl,\n    Url: j.Url,\n    link: j.Url,\n    title: j.title,\n    Major: major\n  }));\n\n  allJobs.push(...mappedJobs);\n\n  // 🟩 KIỂM TRA GIỚI HẠN SỐ LƯỢNG JOB\n  if (allJobs.length >= MAX_JOBS) {\n    console.log(`🛑 Đã đạt giới hạn ${MAX_JOBS} job, dừng lại!`);\n    allJobs = allJobs.slice(0, MAX_JOBS); // Cắt bớt nếu vượt quá\n    break;\n  }\n\n  // 🟩 KIỂM TRA GIỚI HẠN SỐ TRANG\n  if (currentPage >= MAX_PAGES) {\n    console.log(`🛑 Đã đạt giới hạn ${MAX_PAGES} trang, dừng lại!`);\n    break;\n  }\n\n  // --- KIỂM TRA XEM CÒN TRANG KHÔNG (123job.vn pagination) ---\n  const nextExists = await $page.evaluate(() => {\n    // Thử nhiều selector phân trang\n    return !!(\n      document.querySelector(\".pagination .next:not(.disabled)\") ||\n      document.querySelector(\".pagination a[aria-label='Next']\") ||\n      document.querySelector(\".pagination .page-item.active + .page-item:not(.disabled)\") ||\n      document.querySelector(\"a[href*='page=']:not([href*='page=1'])\") ||\n      document.querySelector(\".next-page, .pagination-next\")\n    );\n  });\n  \n  if (!nextExists) {\n    console.log(\"🛑 Hết trang, dừng!\");\n    break;\n  }\n\n  currentPage++;\n  await sleep(800);\n}\n\nconsole.log(\"🎯 Tổng số việc làm:\", allJobs.length);\n\n// Trả về dạng array cho n8n\nreturn allJobs.map(job => ({ json: job }));",
        "options": {}
      },
      "type": "n8n-nodes-puppeteer.puppeteer",
      "typeVersion": 1,
      "position": [
        5184,
        3104
      ],
      "id": "6416ed30-5cfe-4abe-8756-58cac5618120",
      "name": "Truy cập vào link lấy ra công việc",
      "alwaysOutputData": true,
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1i077qGPoAgK1XLcbCLziqppsyFjwllMOpevn06Y1tXM",
          "mode": "list",
          "cachedResultName": "123Job",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i077qGPoAgK1XLcbCLziqppsyFjwllMOpevn06Y1tXM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1293046103,
          "mode": "list",
          "cachedResultName": "danh sách công việc đã crawl",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i077qGPoAgK1XLcbCLziqppsyFjwllMOpevn06Y1tXM/edit#gid=1293046103"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lương": "={{ $json[\"Lương\"] }}",
            "Trình độ": "={{ $json[\"Trình độ\"] }}",
            "Số lượng": "={{ $json[\"Số lượng\"] }}",
            "Kinh nghiệm": "={{ $json[\"Kinh nghiệm\"] }}",
            "Ngày đăng": "={{ $json[\"Ngày đăng\"] }}",
            "Vị trí": "={{ $json[\"Vị trí\"] }}",
            "Hạn tuyển dụng": "={{ $json[\"Hạn tuyển dụng\"] }}",
            "Chuyên ngành": "={{ $json[\"Chuyên ngành\"] }}",
            "Tiêu đề công việc": "={{ $json[\"Tiêu đề công việc\"] }}",
            "Tên công ty": "={{ $json[\"Tên công ty\"] }}",
            "Link": "={{ $json.Link }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Tiêu đề công việc",
              "displayName": "Tiêu đề công việc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tên công ty",
              "displayName": "Tên công ty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lương",
              "displayName": "Lương",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trình độ",
              "displayName": "Trình độ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vị trí",
              "displayName": "Vị trí",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Kinh nghiệm",
              "displayName": "Kinh nghiệm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Số lượng",
              "displayName": "Số lượng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ngày đăng",
              "displayName": "Ngày đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hạn tuyển dụng",
              "displayName": "Hạn tuyển dụng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chuyên ngành",
              "displayName": "Chuyên ngành",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6784,
        3200
      ],
      "id": "22fb8293-60c0-40d7-964a-abc5b8263314",
      "name": "Thêm đữ liệu vào sheet danh sách công việc đã crawl",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KWvXTlQdV9eqObfN",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1i077qGPoAgK1XLcbCLziqppsyFjwllMOpevn06Y1tXM",
          "mode": "list",
          "cachedResultName": "123Job",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i077qGPoAgK1XLcbCLziqppsyFjwllMOpevn06Y1tXM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2020572363,
          "mode": "list",
          "cachedResultName": "list link tuyển dụng ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i077qGPoAgK1XLcbCLziqppsyFjwllMOpevn06Y1tXM/edit#gid=2020572363"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Url": "={{$json.link }}",
            "Source": "={{ $json.Url }}",
            "Major": "={{ $json.Major }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Url",
              "displayName": "Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Major",
              "displayName": "Major",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5680,
        3600
      ],
      "id": "f456c419-14c5-48c6-ae8d-048d28e4cf9b",
      "name": "Thêm đữ liệu vào sheet list link tuyển dụng",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KWvXTlQdV9eqObfN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        6688,
        3488
      ],
      "id": "07df6375-08a7-4030-880a-bd474003d0a4",
      "name": "Lặp lại xử lý",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4896,
        3504
      ],
      "id": "b0bbe34c-9b1c-4a80-8f12-9b749771e049",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1i077qGPoAgK1XLcbCLziqppsyFjwllMOpevn06Y1tXM",
          "mode": "list",
          "cachedResultName": "123Job",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i077qGPoAgK1XLcbCLziqppsyFjwllMOpevn06Y1tXM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2020572363,
          "mode": "list",
          "cachedResultName": "list link tuyển dụng ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i077qGPoAgK1XLcbCLziqppsyFjwllMOpevn06Y1tXM/edit#gid=2020572363"
        },
        "keepFirstRow": true
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4624,
        3312
      ],
      "id": "26a98216-c16d-4ba3-926f-66d4e0dbdeae",
      "name": "Xóa đữ liệu của sheet list link tuyển dụng",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KWvXTlQdV9eqObfN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "runCustomScript",
        "scriptCode": "// 🟩 Bọc toàn bộ trong try-catch để bỏ qua link lỗi\ntry {\n// 🟩 Lấy biến từ input JSON\nconst { Url, Major } = $json;\n\n// 🟩 Chuẩn hóa URL\nlet jobUrl = (Url || \"\").trim();\nif (!jobUrl) {\n  console.log(\"⚠️ Bỏ qua: Không có URL hợp lệ\");\n  return [   {     json: {       skip: true,       Link: jobUrl || \"\",       message: \"URL lỗi, bỏ qua\"     }   } ];\n}\nif (jobUrl.startsWith(\"/\")) jobUrl = \"https://123job.vn\" + jobUrl;\n\ntry {\n// 🟩 Thêm User-Agent để tránh bị chặn\nawait $page.setUserAgent('Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36');\n\n// 🟩 Thêm extra headers\nawait $page.setExtraHTTPHeaders({\n  'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8',\n  'Accept-Language': 'vi-VN,vi;q=0.9,en-US;q=0.8,en;q=0.7',\n  'Accept-Encoding': 'gzip, deflate, br',\n  'Connection': 'keep-alive',\n  'Upgrade-Insecure-Requests': '1'\n});\n\n// 🟩 Giảm tải request rác (TỐI ƯU)\nawait $page.setRequestInterception(true);\n$page.on(\"request\", (req) => {\n  const t = req.resourceType();\n  const u = req.url();\n  if (\n    [\"image\", \"font\", \"media\"].includes(t) ||\n    /doubleclick|googletagmanager|analytics|facebook|adsystem|adservice|hotjar|mixpanel/i.test(u)\n  ) return req.abort();\n  req.continue();\n});\n\n// 🟩 Tự động đóng dialog/alert nếu có\ntry {\n  $page.on('dialog', async dialog => {\n    try {\n      await dialog.dismiss();\n    } catch (e) {}\n  });\n} catch (e) {}\n} catch (e) {\n  console.log(`⚠️ Lỗi khi setup page: ${e.message}`);\n}\n\n// 🟩 Delay trước khi truy cập để tránh bị chặn\nawait new Promise(r => setTimeout(r, 1000 + Math.random() * 2000));\n\n// 🟩 Retry logic với exponential backoff\nlet retries = 3;\nlet lastError = null;\nlet pageLoaded = false;\nwhile (retries > 0) {\n  try {\n    // 🟩 Truy cập trang với timeout tăng lên\n    await $page.goto(jobUrl, { \n      waitUntil: \"networkidle2\", \n      timeout: 60000 \n    });\n    pageLoaded = true;\n    break; // Thành công, thoát khỏi retry loop\n  } catch (error) {\n    lastError = error;\n    retries--;\n    if (retries > 0) {\n      const delay = Math.pow(2, 3 - retries) * 2000; // 2s, 4s, 8s\n      console.log(`⚠️ Lỗi khi truy cập ${jobUrl}, retry sau ${delay}ms... (còn ${retries} lần)`);\n      await new Promise(r => setTimeout(r, delay));\n    } else {\n      console.log(`❌ Không thể truy cập ${jobUrl} sau 3 lần thử`);\n      // Thử với domcontentloaded nếu networkidle2 fail\n      try {\n        await $page.goto(jobUrl, { waitUntil: \"domcontentloaded\", timeout: 30000 });\n        pageLoaded = true;\n      } catch (e) {\n        console.log(`❌ Bỏ qua link ${jobUrl} do lỗi: ${lastError.message}`);\n        return [   {     json: {       skip: true,       Link: jobUrl || \"\",       message: \"URL lỗi, bỏ qua\"     }   } ]; // Bỏ qua link này, tiếp tục với link khác\n      }\n    }\n  }\n}\n\nif (!pageLoaded) {\n  console.log(`❌ Không thể load trang ${jobUrl}`);\n  return [   {     json: {       skip: true,       Link: jobUrl || \"\",       message: \"URL lỗi, bỏ qua\"     }   } ];\n}\n\n// 🟩 Chờ trang load hoàn toàn\ntry {\n  await new Promise(r => setTimeout(r, 2000));\n} catch (e) {\n  console.log(`⚠️ Lỗi khi delay: ${e.message}`);\n}\n\n// 🟩 Đóng tất cả popup/modal để tránh chặn scrape\ntry {\n  await $page.evaluate(() => {\n    try {\n      // Đóng các modal/popup phổ biến\n      const closeSelectors = [\n        '.modal .close',\n        '.modal button[aria-label*=\"close\" i]',\n        '.modal button[aria-label*=\"đóng\" i]',\n        '.popup .close',\n        '.popup button[aria-label*=\"close\" i]',\n        '[class*=\"modal\"] [class*=\"close\"]',\n        '[class*=\"popup\"] [class*=\"close\"]',\n        '.btn-close',\n        '[data-dismiss=\"modal\"]',\n        '[data-bs-dismiss=\"modal\"]',\n        '.close-modal',\n        '.close-popup'\n      ];\n      \n      let closed = 0;\n      closeSelectors.forEach(selector => {\n        try {\n          const elements = document.querySelectorAll(selector);\n          elements.forEach(el => {\n            if (el && el.offsetParent !== null) { // Chỉ đóng nếu visible\n              el.click();\n              closed++;\n            }\n          });\n        } catch (e) {}\n      });\n      \n      // Đóng modal bằng cách click vào backdrop\n      const backdrops = document.querySelectorAll('.modal-backdrop, .modal-overlay, [class*=\"backdrop\"], [class*=\"overlay\"]');\n      backdrops.forEach(backdrop => {\n        try {\n          if (backdrop && backdrop.offsetParent !== null) {\n            backdrop.style.display = 'none';\n            backdrop.remove();\n            closed++;\n          }\n        } catch (e) {}\n      });\n      \n      // Ẩn các modal bằng CSS\n      const modals = document.querySelectorAll('[class*=\"modal\"], [class*=\"popup\"], [id*=\"modal\"], [id*=\"popup\"]');\n      modals.forEach(modal => {\n        try {\n          if (modal && modal.offsetParent !== null) {\n            const style = window.getComputedStyle(modal);\n            if (style.display !== 'none' && style.visibility !== 'hidden') {\n              modal.style.display = 'none';\n              modal.style.visibility = 'hidden';\n              modal.style.opacity = '0';\n              closed++;\n            }\n          }\n        } catch (e) {}\n      });\n      \n      // Xóa body class có thể chặn scroll\n      if (document.body) {\n        document.body.classList.remove('modal-open', 'popup-open', 'no-scroll');\n        document.body.style.overflow = '';\n        document.body.style.paddingRight = '';\n      }\n      \n      return closed;\n    } catch (e) {\n      return 0;\n    }\n  });\n  \n  // Đợi một chút để popup đóng hoàn toàn\n  await new Promise(r => setTimeout(r, 500));\n  \n  // Thử đóng lại lần nữa để chắc chắn\n  await $page.evaluate(() => {\n    try {\n      // Tìm và đóng các button có text \"Đóng\", \"X\", \"Close\"\n      const allButtons = document.querySelectorAll('button, a, span, div');\n      allButtons.forEach(btn => {\n        const text = (btn.textContent || '').trim().toLowerCase();\n        if ((text === 'đóng' || text === 'x' || text === 'close' || text.includes('đóng')) && btn.offsetParent !== null) {\n          const parent = btn.closest('[class*=\"modal\"], [class*=\"popup\"], [id*=\"modal\"], [id*=\"popup\"]');\n          if (parent) {\n            try {\n              btn.click();\n            } catch (e) {}\n          }\n        }\n      });\n      \n      // Ẩn tất cả modal còn lại\n      const allModals = document.querySelectorAll('[class*=\"modal\"], [class*=\"popup\"]');\n      allModals.forEach(modal => {\n        if (modal && modal.offsetParent !== null) {\n          modal.style.display = 'none';\n          modal.style.visibility = 'hidden';\n          modal.style.opacity = '0';\n          modal.style.zIndex = '-1';\n        }\n      });\n    } catch (e) {}\n  });\n  \n  await new Promise(r => setTimeout(r, 300));\n} catch (e) {\n  console.log(`⚠️ Lỗi khi đóng popup: ${e.message}`);\n  // Tiếp tục dù có lỗi\n}\n\n// 🟩 Chờ tiêu đề xuất hiện (123job.vn selectors) - tăng timeout\ntry {\n  await $page.waitForSelector(\"h1.job-title, h1.js-job, body\", { timeout: 30000 });\n} catch (e) {\n  console.log(\"⚠️ Không tìm thấy tiêu đề, tiếp tục...\");\n  // Kiểm tra xem có bị redirect hoặc block không\n  try {\n    const currentUrl = $page.url();\n    if (currentUrl.includes('blocked') || currentUrl.includes('error') || currentUrl !== jobUrl) {\n      console.log(`⚠️ URL bị thay đổi: ${currentUrl} (gốc: ${jobUrl})`);\n    }\n  } catch (urlError) {\n    console.log(`⚠️ Không thể lấy URL hiện tại: ${urlError.message}`);\n  }\n}\n\n// 🟩 Mở rộng các phần Xem thêm (123job.vn)\ntry {\n  for (let i = 0; i < 5; i++) {\n    const clicked = await $page.evaluate(() => {\n      try {\n        let c = 0;\n        const allButtons = document.querySelectorAll('button, a, span[onclick], div[onclick], .btn-collapse, .toggle-attr-item');\n        allButtons.forEach(btn => {\n          const text = btn.textContent?.toLowerCase() || '';\n          if (text.includes('xem thêm') && btn.offsetParent && !btn.disabled) {\n            btn.click();\n            c++;\n          }\n        });\n        return c;\n      } catch (e) {\n        return 0;\n      }\n    });\n    if (!clicked) break;\n    await new Promise(r => setTimeout(r, 300));\n  }\n} catch (e) {\n  console.log(`⚠️ Lỗi khi mở rộng Xem thêm: ${e.message}`);\n}\n\n// 🟩 Cuộn để tải hết nội dung\ntry {\n  await $page.evaluate(async () => {\n    await new Promise(res => {\n      let y = 0;\n      const step = 1000;\n      const t = setInterval(() => {\n        window.scrollBy(0, step);\n        y += step;\n        if (y > document.body.scrollHeight + 1200) {\n          clearInterval(t);\n          res();\n        }\n      }, 80);\n    });\n  });\n  await new Promise(r => setTimeout(r, 300));\n} catch (e) {\n  console.log(`⚠️ Lỗi khi cuộn trang: ${e.message}`);\n}\n\n// 🟩 Thu thập dữ liệu chính (123job.vn - TARGET ĐÚNG HTML)\nlet job;\ntry {\n  job = await $page.evaluate((Major) => {\n  const get = (sel) => {\n    try {\n      const el = document.querySelector(sel);\n      return el?.textContent?.trim() || null;\n    } catch { return null; }\n  };\n  \n  // === Hàm tìm trong .attr-item theo .name-attr ===\n  const findByAttrItem = (nameLabels, defaultValue = null) => {\n    const attrItems = document.querySelectorAll(\".attr-item, .attr-item-groups .attr-item, #tab-attr .attr-item\");\n    for (const item of attrItems) {\n      const nameAttr = item.querySelector(\".name-attr\")?.textContent?.trim() || \"\";\n      for (const label of nameLabels) {\n        if (nameAttr.toLowerCase().includes(label.toLowerCase())) {\n          const textAttr = item.querySelector(\".text-attr\")?.textContent?.trim() || \"\";\n          if (textAttr && textAttr.length > 0) {\n            return textAttr;\n          }\n        }\n      }\n    }\n    return defaultValue;\n  };\n\n  // === Lấy tiêu đề (h1.job-title strong) ===\n  const title = get(\"h1.job-title strong\") || get(\"h1.js-job.job-title strong\") || get(\"h1.job-title\") || get(\"h1\") || \"Không xác định\";\n\n  // === Lấy tên công ty (.company-name h2) ===\n  let company = get(\".company-name h2\") || get(\".company-info .company-name h2\") || get(\".company-info-mobile .text-bold\");\n  \n  // Làm sạch tên công ty\n  if (company) {\n    company = company.trim();\n    if (company.includes(\"Quy mô:\")) {\n      company = company.split(/Quy mô:|Trụ sở:/i)[0].trim();\n    }\n    if (company.includes(\"Trụ sở:\")) {\n      company = company.split(/Trụ sở:/i)[0].trim();\n    }\n  } else {\n    company = \"Không xác định\";\n  }\n\n  // === Lấy lương (.attr-item-head .attr-item .value span với icon la-money) ===\n  let salary = null;\n  const attrItemHead = document.querySelector(\".attr-item-head\");\n  if (attrItemHead) {\n    const attrItems = attrItemHead.querySelectorAll(\".attr-item\");\n    for (const item of attrItems) {\n      const icon = item.querySelector(\".icon-attr-header i\");\n      if (icon && icon.classList.contains(\"la-money\")) {\n        const valueEl = item.querySelector(\".value span\");\n        if (valueEl) {\n          salary = valueEl.textContent?.trim() || null;\n          break;\n        }\n      }\n    }\n  }\n  \n  // Fallback\n  if (!salary) {\n    salary = findByAttrItem([\"Mức lương\", \"Lương\"], null);\n  }\n  \n  // Cắt bỏ phần mô tả phía sau\n  if (salary) {\n    salary = salary.split(/Mức lương phổ biến|mức lương phổ biến|Thông tin thêm|thông tin thêm|Mô tả|mô tả/i)[0].trim();\n    // Làm sạch: \"Đang cập nhật\" => để trống\n    if (salary && (salary.toLowerCase().includes(\"đang cập nhật\") || salary.toLowerCase().includes(\"cập nhật\"))) {\n      salary = \"\";\n    }\n  } else {\n    salary = \"\";\n  }\n  \n  // 🟩 Chuyển đổi USD sang VNĐ và format theo Xtr-Ytr VNĐ/tháng\n  const USD_TO_VND = 24500;\n  if (salary && (salary.includes(\"$\") || salary.includes(\"USD\") || salary.includes(\"dollar\"))) {\n    const usdMatches = Array.from(salary.matchAll(/\\$?([\\d,]+(?:\\.[\\d]+)?)/g));\n    \n    if (usdMatches.length > 0) {\n      const amounts = usdMatches.map(match => {\n        const usdAmount = parseFloat(match[1].replace(/,/g, \"\"));\n        const vndAmount = Math.round(usdAmount * USD_TO_VND);\n        const trieu = (vndAmount / 1000000).toFixed(1);\n        return parseFloat(trieu).toString().replace(/\\.0$/, \"\") + \"tr\";\n      });\n      \n      if (amounts.length === 1) {\n        salary = amounts[0] + \" VNĐ/tháng\";\n      } else if (amounts.length === 2) {\n        salary = amounts[0] + \"-\" + amounts[1] + \" VNĐ/tháng\";\n      } else {\n        const nums = amounts.map(a => parseFloat(a.replace(/tr/, \"\")));\n        const min = Math.min(...nums);\n        const max = Math.max(...nums);\n        salary = min + \"tr-\" + max + \"tr VNĐ/tháng\";\n      }\n    }\n  }\n\n  // === Lấy các thông tin từ .attr-item ===\n  let deadline = findByAttrItem([\"Hạn nộp hồ sơ\", \"Hạn tuyển dụng\", \"Hết hạn\"], \"Không xác định\");\n  let education = findByAttrItem([\"Trình độ yêu cầu\", \"Trình độ\", \"Học vấn\"], \"Không xác định\");\n  let position = findByAttrItem([\"Cấp bậc\", \"Vị trí\", \"Chức vụ\"], \"Không xác định\");\n  let experience = findByAttrItem([\"Kinh nghiệm yêu cầu\", \"Kinh nghiệm\"], \"Không xác định\");\n  let quantity = findByAttrItem([\"Số lượng cần tuyển\", \"Số lượng\"], \"Không xác định\");\n  \n  // === Lấy ngày đăng từ \"Cập nhật gần nhất lúc\" ===\n  let postedDate = \"\";\n  try {\n    // Tìm phần tử chứa \"Cập nhật gần nhất lúc\" hoặc \"cập nhật\"\n    const allParagraphs = document.querySelectorAll('p, div, span');\n    for (const el of allParagraphs) {\n      const text = el.textContent || '';\n      if (text.includes('Cập nhật gần nhất lúc') || text.includes('cập nhật gần nhất') || text.includes('Cập nhật')) {\n        // Extract ngày từ text (format: 2025-10-04 18:25:02 hoặc tương tự)\n        const dateMatch = text.match(/(\\d{4}[\\-\\/]\\d{1,2}[\\-\\/]\\d{1,2})/);\n        if (dateMatch) {\n          postedDate = dateMatch[1].replace(/\\//g, '-');\n          // Đảm bảo format YYYY-MM-DD\n          const parts = postedDate.split('-');\n          if (parts.length === 3) {\n            const year = parts[0];\n            const month = parts[1].padStart(2, '0');\n            const day = parts[2].padStart(2, '0');\n            postedDate = `${year}-${month}-${day}`;\n          }\n          break;\n        }\n      }\n    }\n    \n    // Fallback: tìm trong .content-group_content\n    if (!postedDate) {\n      const contentGroup = document.querySelector('.content-group_content, .content-group');\n      if (contentGroup) {\n        const text = contentGroup.textContent || '';\n        const dateMatch = text.match(/(\\d{4}[\\-\\/]\\d{1,2}[\\-\\/]\\d{1,2})/);\n        if (dateMatch) {\n          postedDate = dateMatch[1].replace(/\\//g, '-');\n          const parts = postedDate.split('-');\n          if (parts.length === 3) {\n            const year = parts[0];\n            const month = parts[1].padStart(2, '0');\n            const day = parts[2].padStart(2, '0');\n            postedDate = `${year}-${month}-${day}`;\n          }\n        }\n      }\n    }\n    \n    // Nếu vẫn không tìm thấy, dùng ngày hiện tại\n    if (!postedDate) {\n      postedDate = new Date().toISOString().split(\"T\")[0];\n    }\n  } catch (e) {\n    postedDate = new Date().toISOString().split(\"T\")[0];\n  }\n\n  // === Làm sạch dữ liệu ===\n  // Làm sạch trình độ\n  if (education && education.toLowerCase().includes(\"yêu cầu\")) {\n    education = education.replace(/^yêu cầu\\s*/i, \"\").trim();\n  }\n  if (education && (education.includes(\"Trắc nghiệm\") || education.includes(\"MBTI\") || education.includes(\"MI\"))) {\n    education = \"\";\n  }\n  // \"Không xác định\" => để trống\n  if (education && education.toLowerCase().includes(\"không xác định\")) {\n    education = \"\";\n  }\n  // Chuyển \"associate degree\" sang tiếng Việt\n  if (education && education.toLowerCase().includes(\"associate degree\")) {\n    education = \"Cao đẳng\";\n  }\n  \n  // Làm sạch vị trí\n  if (position && (position.includes(\"Trắc nghiệm\") || position.includes(\"MBTI\") || position.includes(\"MI\"))) {\n    position = \"Không xác định\";\n  }\n  \n  // Làm sạch kinh nghiệm\n  if (experience && experience.toLowerCase().includes(\"yêu cầu\")) {\n    experience = experience.replace(/^yêu cầu\\s*/i, \"\").trim();\n  }\n  if (experience && (experience.includes(\"OccupationalExperienceRequirements\") || experience.includes(\"là điểm cộng\") || experience.includes(\"Cập nhật\"))) {\n    experience = \"\";\n  }\n  // \"Không xác định\" => để trống\n  if (experience && experience.toLowerCase().includes(\"không xác định\")) {\n    experience = \"\";\n  }\n  // Nếu chỉ là số (lỗi) => để trống\n  if (experience && /^\\s*\\d+\\s*$/.test(experience)) {\n    experience = \"\";\n  }\n  \n  // Làm sạch số lượng\n  if (quantity && quantity.toLowerCase().includes(\"cần tuyển\")) {\n    quantity = quantity.replace(/^cần tuyển\\s*/i, \"\").trim();\n  }\n  if (quantity && (quantity.includes(\"Đang Cập Nhật\") || quantity.includes(\"Cập nhật\"))) {\n    quantity = \"\";\n  }\n  // \"Không xác định\" => để trống\n  if (quantity && quantity.toLowerCase().includes(\"không xác định\")) {\n    quantity = \"\";\n  }\n  \n  // Làm sạch hạn tuyển dụng\n  if (deadline && (deadline.includes(\"Đặc điểm công việc\") || deadline.includes(\"Hình thức làm việc\") || deadline.includes(\"Cấp bậc\") || deadline.includes(\"Khu vực\") || deadline.includes(\"Xem thêm\"))) {\n    const dateMatch = deadline.match(/(\\d{1,2}[\\/\\-]\\d{1,2}[\\/\\-]\\d{2,4})/);\n    deadline = dateMatch ? dateMatch[1] : \"Không xác định\";\n  }\n  if (deadline && (deadline.includes(\"0961.469.398\") || deadline.includes(\"giờ hành chính\"))) {\n    deadline = \"Không xác định\";\n  }\n\n  return {\n    title, company, salary, education, position,\n    experience, quantity, postedDate, deadline,\n    major: Major, link: window.location.href\n  };\n}, Major);\n} catch (e) {\n  console.log(`❌ Lỗi khi thu thập dữ liệu từ trang: ${e.message}`);\n  return [   {     json: {       skip: true,       Link: jobUrl || \"\",       message: \"URL lỗi, bỏ qua\"     }   } ]; // Bỏ qua link này nếu không thể lấy dữ liệu\n}\n\n// 🟩 Kiểm tra job data hợp lệ\nif (!job || !job.title) {\n  console.log(`⚠️ Không có dữ liệu hợp lệ từ ${jobUrl}`);\n  return [   {     json: {       skip: true,       Link: jobUrl || \"\",       message: \"URL lỗi, bỏ qua\"     }   } ];\n}\n\n// 🟩 Trả kết quả\ntry {\n  return [\n    {\n      json: {\n        \"Tiêu đề công việc\": job.title,\n        \"Tên công ty\": job.company,\n        \"Link\": job.link,\n        \"Lương\": job.salary,\n        \"Trình độ\": job.education,\n        \"Vị trí\": job.position,\n        \"Kinh nghiệm\": job.experience,\n        \"Số lượng\": job.quantity,\n        \"Ngày đăng\": job.postedDate,\n        \"Hạn tuyển dụng\": job.deadline,\n        \"Chuyên ngành\": job.major,\n      },\n    },\n  ];\n} catch (e) {\n  console.log(`❌ Lỗi khi format kết quả: ${e.message}`);\n  return [   {     json: {       skip: true,       Link: jobUrl || \"\",       message: \"URL lỗi, bỏ qua\"     }   } ];\n}\n\n} catch (error) {\n  // 🟩 Bỏ qua link lỗi, log và tiếp tục với link khác\n  console.log(`❌ Lỗi khi xử lý link ${$json.Url || 'unknown'}: ${error.message}`);\n  return [   {     json: {       skip: true,       Link: jobUrl || \"\",       message: \"URL lỗi, bỏ qua\"     }   } ]; // Trả về empty để bỏ qua link này\n}",
        "options": {}
      },
      "type": "n8n-nodes-puppeteer.puppeteer",
      "typeVersion": 1,
      "position": [
        6112,
        3200
      ],
      "id": "8e5382d4-21f9-4b0e-ad29-8e4c7f54c1ff",
      "name": "Truy cập link lấy thông tin",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9cb64851-9bfc-4b69-afdb-384b4d44bceb",
              "leftValue": "={{$json.skip}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "bc0d8486-b48d-4fb0-a2bf-c4f5ab15a225",
              "leftValue": "={{$json.skip}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6368,
        3248
      ],
      "id": "ff8e7142-b334-4e25-b7b7-48ebd7318465",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Lặp lại xử lý",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Xóa danh sách công việc đã crawl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy đữ liệu sheet list url cần crawl": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Truy cập vào link lấy ra công việc": {
      "main": [
        [
          {
            "node": "Thêm đữ liệu vào sheet list link tuyển dụng",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thêm đữ liệu vào sheet list link tuyển dụng": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thêm đữ liệu vào sheet danh sách công việc đã crawl": {
      "main": [
        [
          {
            "node": "Lặp lại xử lý",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lặp lại xử lý": {
      "main": [
        [],
        [
          {
            "node": "Truy cập link lấy thông tin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Lặp lại xử lý",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Truy cập vào link lấy ra công việc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Truy cập link lấy thông tin": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Lặp lại xử lý",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Thêm đữ liệu vào sheet danh sách công việc đã crawl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "79ddb17c-88dd-4990-8a91-e4c6538a679c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "be4bd479f567f96620153db3fcd673abbd059c76f34103f7251e61fb5e9ec621"
  },
  "id": "QNZIXG49gtXSI6sB",
  "tags": []
}